################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OneCountryWebApi/.vs/OneCountryWebApi/v15/Server/sqlite3
/OneCountryWebApi/.vs/OneCountryWebApi/v16/Server/sqlite3
