
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLTELayout.cshtml";
}

<div class="modal fade" id="mdlMessageViewer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mdlTitlewarning" hidden>Warning! Please Be Advised</h4>
                <h4 class="modal-title" id="mdlTitledanger" hidden>Oops! An Error Occured While Processing</h4>
                <h4 class="modal-title" id="mdlTitlesuccess" hidden>Well Done! Process Completed Successfully</h4>
                <h4 class="modal-title" id="mdlTitleinfo" hidden>Info</h4>
                <h4 class="modal-title" id="mdlTitleprimary" hidden>Message</h4>
            </div>
            <div class="modal-body">
                <p class="lblMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="content-wrapper" ng-view>

</div>


